@font-face {
    font-family: 'Inter';
    src: local('Inter'), local('Inter-VF'),
        url('./Inter-VF.ttf') format('truetype');
    font-weight: 300 600;
    font-style: normal;
    font-display: swap;
}