@use './normalize.scss';
@use './../fonts/inter/inter.scss';

:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.page {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-variation-settings: "wght" 400;
  color: #1F2020;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.container {
  padding: 0 clamp(1.5rem, 1rem + 2.5vw, 4rem);
}

.mobile {
  &__menu-button {
    background-color: transparent;
    border: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../assets/icons/burger.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem 0.875rem;
    background-position: center;
    display: none;
  }
  &__filters-button {
    display: none;
    background-color: transparent;
    border: 0;
    color: #1F2020;
    font-size: 0.75rem;
    font-variation-settings: "wght" 500;
    text-transform: uppercase;
  }
}

.header {
  &__menu-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(1.5rem, 1.325rem + 0.875vw, 2.375rem) 0 clamp(1.5rem, 1.325rem + 0.875vw, 2.375rem);
  }
  &__menu-left-block {
    display: flex;
    align-items: center;
    gap: 12.286rem;
  }
  &__menu-right-block {
    display: flex;
    align-items: center;
    gap: 7.286rem;
  }
  &__logo {
    display: block;
    position: relative;
    width: clamp(6.1875rem, 5.7875rem + 2vw, 8.1875rem);
    height: clamp(1.3125rem, 1.25rem + 0.3125vw, 1.625rem);
  }
  &__logo-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  &__menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.714rem;
  }
  &__menu-link {
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    text-decoration: none;
    color: #1F2020;
    text-transform: uppercase;
    letter-spacing: 0.046rem;
  }
  &__phone {
    display: flex;
    flex-direction: column;
    gap: 0.143rem;
  }
  &__phone-link {
    text-decoration: none;
    color: #1F2020;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    font-variation-settings: "wght" 500;
  }
  &__phone-text {
    font-size: clamp(0.625rem, 0.575rem + 0.25vw, 0.875rem);
    color: #1F2020;
    opacity: .3;
  }
  &__controls {
    display: flex;
    align-items: center;
  }
  &__controls-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.714rem;
  }
  &__controls-button {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    width: 1.571rem;
    height: 1.571rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &_search {
      background-image: url('../assets/icons/search.svg');
    }
    &_profile {
      background-image: url('../assets/icons/profile.svg');
    }
    &_favourites {
      background-image: url('../assets/icons/favourites.svg');
    }
    &_basket {
      background-image: url('../assets/icons/basket.svg');
    }
    &_basket-not-empty {
      background-image: none;
      min-width: 1.5rem;
      width: min-content;
      height:1.5rem;
      background-color: #7BB899;
      border-radius: 50%;
      color: #1F2020;
    }
  }
}

.main {
  position: relative;
}

.bread-crumbs {
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.571rem;
  position: absolute;
  opacity: .3;
  top: 2.286rem;
  left: 4.571rem;
  &__item {
    display: flex;
    align-items: center;
    gap: 0.571rem;
  }
  &__item:not(:first-child)::before {
    content: '';
    width: 0.214rem;
    height: 0.214rem;
    border-radius: 50%;
    background-color: #ffffff;
    display: block;
  }
  &__link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.714rem;
    font-variation-settings: "wght" 400;
  }
}

.catalog {
  padding: 5.143rem 0 10rem;
  display: flex;
  gap: 9.929rem;
  &__content {
    width: 100%;
  }
  &__title {
    padding: 0;
    margin: 0;
    display: none;
    font-size: 2.25rem;
    line-height: 88%;
    color: #1F2020;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.75rem;
  }
  &__counter {
    font-size: 0.75rem;
    font-variation-settings: "wght" 500;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
    width: 100%;
  }
  &__item {
    padding: 0;
    margin: 0;
    width: clamp(9.75rem, 8.225rem + 7.625vw, 17.375rem);
    min-height: clamp(16.875rem, 15.35rem + 7.625vw, 24.5rem);
  }
}

.custom-select {
  position: relative;
  width: 200px;
  font-size: 0.75rem;
  font-variation-settings: "wght" 500;
  text-transform: uppercase;
  &_selected {
    padding: 0 1.5rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: '';
      top: calc(60% - 0.375rem);
      right: 0;
      width: 0.5rem;
      height: 0.375rem;
      background-image: url('../assets/icons/arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotateX(0deg);
      transition: rotateX .3s ease;
    }
  }
  &__arrow {
    &_active {
      &:after {
        transform: rotateX(180deg);
      }
    }
  }
  &_hide {
    display: none;
  }
  &__items {
    position: absolute;
    background-color: #ffffff;
    top: calc(100% + 1.063rem);
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 12.5rem;
    overflow-y: auto;
  }
  &__items div {
    padding: 1.063rem 1.5rem;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: rgba(123, 184, 153, .3);
    }
  }
  &__same-as-selected {
    background-color: #7BB899;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: clamp(2.125rem, 2.35rem + -1.125vw, 1rem);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  width: 100%;
  min-height: 100%;
  &__image {
    display: block;
    width: 100%;
    height: 17.375rem;
    object-fit: scale-down;
    object-position: center;
    align-self: center;
  }
  &__title {
    text-decoration: none;
    color: #1F2020;
    font-size: 1rem;
    font-variation-settings: "wght" 300;
    padding: 0.75rem 0 1.5rem;
  }
  &__price {
    display: block;
    font-size: 1rem;
    font-variation-settings: "wght" 600;
  }
  &__button {
    background-color: #F2F2F2;
    border: 0;
    width: clamp(2.5rem, 2rem + 2.5vw, 5rem);
    height: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    background-image: url('../assets/icons/plus.svg');
    background-repeat: no-repeat;
    background-size: 1.25rem 1.25rem;
    background-position: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: bacground-color .3s ease;
    &:hover {
      background-color: #7BB899;
    }
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.filter {
  &__list {
    width: 10.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.714rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  &__checkbox + span {
    display: block;
    width: 2.25rem;
    height: 1.375rem;
    background-image: url('../assets/icons/custom-checkbox.svg');
    background-repeat: no-repeat;
    background-size: 2.25rem 1.375rem;
    background-position: center;
    transition: background-image .3s ease;
  }

  &__checkbox {
    &:checked + span {
      background-image: url('../assets/icons/custom-checkbox-active.svg');
    }
  }
}

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 149;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &_open {
    display: block;
  }
}

.basket-modal {
  display: block;
  position: fixed;
  min-width: 37.5rem;
  height: 100vh;
  top: 0;
  right: -100%;
  background-color: #ffffff;
  z-index: 150;
  padding: 2rem 2.5rem 2.5rem;
  overflow-y: scroll;
  &_open {
    opacity: 1;
    right: 0;
  }
}

.modal {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5.875rem;
  }
  &__title {
    padding: 0;
    margin: 0;
    font-size: 1.875rem;
    font-variation-settings: "wght" 500;
    line-height: 88%;
  }
  &__button-close {
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #ffffff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-image: url('../assets/icons/close.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center;
    cursor: pointer;
    transition: background-color .3s ease, border .3s ease;
    &:hover {
      background-color: #7BB899;
      border: 1px solid #7BB899;
    }
  }
}

.basket {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 77vh;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.625rem;
  }
  &__counter {
    font-size: 0.875rem;
    line-height: 112%;
  }
  &__clear-button {
    background-color: transparent;
    border: 0;
    color: rgba(31, 32, 32, .4);
    text-transform: uppercase;
    font-variation-settings: "wght" 300;
    font-size: 0.875rem;
    line-height: 112%;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  &__list {
    list-style: none;
    padding: 0 0 2.5rem;
    margin: 0;
  }
  &__item {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 0.75rem 0;
  }
  &__card {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
  &__image {
    display: block;
    object-fit: scale-down;
    object-position: center;
    width: 6rem;
    height: 6rem;
    &_deleted {
      opacity: .4;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 13.75rem;
    &_deleted {
      opacity: .4;
    }
  }
  &__title {
    font-variation-settings: "wght" 300;
    font-size: 1rem;
    color: #1F2020;
    text-decoration: none;
    display: block;
  }
  &__price {
    font-variation-settings: "wght" 600;
    font-size: 1rem;
    color: #1F2020;
    display: block;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.563rem;
  }
  &__item-counter-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    &_deleted {
      opacity: .4;
    }
  }
  &__item-counter-button {
    background-color: #F2F2F2;
    border: 0;
    width: 2.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: center;
    border-radius: 0.25rem;
    transition: background-color .3s ease;
    &:hover {
      background-color: #7BB899;
    }
    &_minus {
      background-image: url('../assets/icons/basket-minus.svg');
    }
    &_plus {
      background-image: url('../assets/icons/basket-plus.svg');
    }
  }
  &__item-counter {
    display: block;
    min-width: 1.875rem;
    text-align: center;
  }
  &__item-delete-button {
    display: none;
    background-color: transparent;
    border: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../assets/icons/delete.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center;
    cursor: pointer;
    &_show {
      display: block;
    }
  }
  &__item-restore-button {
    display: none;
    background-color: transparent;
    border: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../assets/icons/restore.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center;
    cursor: pointer;
    &_show {
      display: block;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__total-block {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }
  &__total {
    font-size: 1.875rem;
    font-variation-settings: "wght" 500;
  }
  &__button-submit {
    background-color: #7BB899;
    border-radius: 0.25rem;
    color: #1F2020;
    border: 0;
    font-size: 0.75rem;
    font-variation-settings: "wght" 500;
    padding: 1.25rem 3.625rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: bacground-color .3s ease;
    &:hover {
      background-color: #F2F2F2;
    }
  }
}

.filters-modal {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 3.375rem 1.5rem;
  transform: scaleY(0);
  &_open {
    transform: scaleY(1);
  }
  &__close-button {
    background-color: transparent;
    border: 0;
    background-image: url('../assets/icons/rect-close.svg');
    background-repeat: no-repeat;
    background-size: 1.75rem 0.25rem;
    background-position: center;
    width: 1.75rem;
    height: 1.75rem;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 0.875rem);
  }
}

.mobile-menu {
  display: block;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 2.5rem 2rem;
  width: 37.5rem;
  transform: scaleX(0);
  &_open {
    transform: scaleX(1);
  }
  &__menu {
    display: block !important;
  }
  &__list {
    flex-direction: column;
    align-items: start;
  }
}

.footer {
  background-color: #000000;
  height: clamp(12.75rem, 11.4rem + 6.75vw, 19.5rem);
}

@media (width <= 1310px) {
  .header {
    &__menu-block {
      gap: 1.875rem;
    }
    &__menu-left-block {
      gap: 1.875rem;
    }
    &__menu-right-block {
      gap: 1.875rem;
    }
  }
}

@media (width <= 1110px) {
  .header {
    &__menu {
      display: none;
    }
  }
  .mobile {
    &__menu-button {
      display: block;
    }
  }
}

@media (width <= 1024px) {
  .catalog {
    &__filter {
      display: none;
    }
    &__counter {
      display: none;
    }
    &__list {
      justify-content: center;
    }
  }
  .mobile {
    &__filters-button {
      display: block;
    }
  }
}

@media (width <= 768px) {
  .catalog {
    display: block;
    &__list {
      gap: 0.938rem;
    }
  }
  .basket-modal {
    min-width: auto;
    width: 100%;
  }
  .mobile-menu {
    min-width: auto;
    width: 100%;
  }
}

@media (width <= 620px) {
  .header {
    &__menu-block {
      border-bottom: 1px solid rgba(0, 0, 0, .06);
    }
    &__phone {
      display: none;
    }
  }
  .slider-block {
    display: none;
  }
  .bread-crumbs {
    position: initial;
    padding-left: clamp(1.5rem, 1rem + 2.5vw, 4rem);
    padding-top: 1rem;
    &__link {
      color: rgba(0, 0, 0, .4);
    }
  }
  .catalog {
    padding-top: 0;
    &__title {
      display: block;
      padding: 3rem 0 3rem;
    }
    &__controls {
      padding-bottom: 1.5rem;
    }
  }
}

@media (width <= 468px) {
  .basket-modal {
    padding: 1rem 1.5rem;
  }
  .basket {
    &__card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__info {
      width: auto;
    }
    &__controls {
      flex-direction: column;
      align-items: start;
      grid-row: 2/3;
      grid-column: 2/3;
    }
    &__footer {
      flex-direction: column;
      gap: 0.625rem;
    }
  }
}

@media (width <= 390px) {
  .header {
    &__menu-left-block {
      flex-basis: 66%;
      justify-content: space-between;
    }
    &__controls-list {
      display: none;
    }
  }
}